Repository w3c/tr-pages, pull requests merged in 2018-03, with the labels that each got.

#31 Mockup rwd
  mockup1/assets/76f6034.css
  mockup1/index.html
Labels: enhancement, mock-up-1

#33 Vanilla JS, progressive enhancement, editor's filter
  mockup1/assets/39f9edc.js
  mockup1/assets/76f6034.css
  mockup1/assets/filtering.js
  mockup1/assets/filtrify.js
  mockup1/index.html
Labels: bug, enhancement, mock-up-1

#39 Fix 'undefined' when navigating history, and lost history
  mockup1/assets/filtering.js
Labels: bug, mock-up-1

#49 Do not show "Data" labels on top of sticky filters
  mockup1/assets/76f6034.css
Labels: bug, mock-up-1

#48 Improve help icon
  mockup1/assets/76f6034.css
  mockup1/index.html
Labels: enhancement, mock-up-1

#52 Small fix
  mockup1/assets/filtering.js
Labels: bug, mock-up-1

#51 Replace SVG spinner with pulsating text
  mockup1/assets/76f6034.css
  mockup1/assets/filtering.js
  mockup1/index.html
Labels: bug, mock-up-1

#32 a few small changes to improve readability
  mockup1/assets/76f6034.css
  mockup1/index.html
Labels: enhancement, mock-up-1

#50 Fix bugs on narrow screens
  mockup1/assets/76f6034.css
  mockup1/assets/filtering.js
  mockup1/index.html
Labels: bug, enhancement, mock-up-1

#34 [WIP] initial list of tags
  tags.md
Labels: enhancement, mock-up-1

#63 Typos and minor clarifications
  tags.md
Labels: enhancement
