Repository w3c/tr-pages, pull requests merged in 2018-06, with the labels that each got.

#71 Amend “hide retired specifications by default”
  mockup1/assets/filtering.js
  mockup1/index.html
Labels: enhancement, mock-up-1

#70 hide retired specifications by default
  mockup1/assets/filtering.js
  mockup1/index.html
Labels: enhancement

#72 Help page: update URL
  help.html
Labels: bug, mock-up-1

#74 Mock-up 1: remove filtering delay altogether
  mockup1/assets/filtering.js
  mockup1/index.html
Labels: enhancement, mock-up-1

#75 Fix bug: reset ain't resetting
  mockup1/assets/filtering.js
Labels: bug, mock-up-1
